@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Gaegu:wght@300;400;700&display=swap');

:root {
    --highlighter: #7bd7ff;
    --highlighter_pink:#f449d3;
    --dot_gray: #D2D2D2;
}

::selection {
    background-color: var(--highlighter_pink);
    color: white;
}

.title {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    line-height: 48px;
}

.big-text {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    line-height: 48px;
}

#page {
    width: 100%;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
}

.menu-text{
    color: black;
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    gap: 24px;
    line-height: 24px;
    margin-bottom: 24px;

}

.page-text {
    color: black;
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    background-image: radial-gradient(circle, var(--dot_gray) 1px, transparent 1px);
    background-size: 24px 24px;
    background-position: 0 18px;
    gap: 24px;
    line-height: 24px;
    margin-bottom: 24px;
}

.page-text a:link {
    color: black;
}

.page-text a:visited {
    color: black;
}

.page-text a:link:hover {
    background-color: var(--highlighter);
}

.nav {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a:link {
    color: black;
    text-decoration: none;
}

.nav a:visited {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    background-color: var(--highlighter);
}

.vertical-menu {
    margin-left: 48px;
    margin-right: 48px;
}

.vertical-menu a {
    color: black;
    width: fit-content;
    padding: 0px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.vertical-menu span:hover {
    background-color: var(--highlighter);
    text-decoration-line: underline;

}